.table {
  display: inline-grid;
  margin-top: 50px;
  gap: var(--table-gap);
  max-width: fit-content;
  /* align-self: center; */
}

.rowLabel {
  border-right: 1px solid black;
}

.rowLabel div {
  display: inline-block;
  position: relative;
  top: 50%;
  left: 100%;
  transform: translate(-100%, -50%);
  padding-right: 10px;
}

.columnLabel {
  border-bottom: 1px solid black;
}

.columnLabel div {
  display: inline-block;
  white-space: nowrap;
  overflow: visible;

  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 10px;;
}

.columnLabel div, .rowLabel div {
  white-space: nowrap;
  overflow: visible;
}
